/* inicializace fontu */

@font-face {
    font-family: 'myriadpro_normal_webfont';
    src: url('../graphics/myriadpro-normal-webfont.eot');
    src: url('../graphics/myriadpro-normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('../graphics/myriadpro-normal-webfont.woff') format('woff'),
         url('../graphics/myriadpro-normal-webfont.ttf') format('truetype'),
         url('../graphics/myriadpro-normal-webfont.svg#myriadpro_normal_webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myriadpro_bold_webfont';
    src: url('../graphics/myriadpro-bold-webfont.eot');
    src: url('../graphics/myriadpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../graphics/myriadpro-bold-webfont.woff') format('woff'),
         url('../graphics/myriadpro-bold-webfont.ttf') format('truetype'),
         url('../graphics/myriadpro-bold-webfont.svg#myriadpro_bold_webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{font-family: 'myriadpro_normal_webfont'; font-size:11pt;color:black}

a{text-decoration:underline;color: #83125F}
a:hover{text-decoration:none;}

h1 {font-size:30pt; color: #831260;}
h2 {font-size:20px;}
h3 {font-size:18px;margin-bottom:0.5em;margin-top:1em;}
h4 {font-size:16px;margin-bottom:0.5em;margin-top:1em;}

h2.sidepanel {font-size:18px;font-weight:bold;color:#fff;padding:14px 20px;height:21px;background:#23b7b2 url(../graphics/bg-h2-column.png) repeat-x top left;position:relative;margin:0 0 0.75em 0;}
h2.sidepanel span {position:absolute;display:block;width:11px;height:60px;top:-11px;left:-11px;background:url(../graphics/bg-h2-column-corner.png) no-repeat top left;}

p{line-height:175%;margin: 10px 0}
span.text-highlight {font-weight:bold;color:#23b7b2;}

ul {padding:15px 30px;}
ul li {background:url(../graphics/arrow.png) no-repeat 0px 7px;line-height: 175%;list-style: none outside none;padding-left:16px;color:black;}